{% extends "base.html" %}

{% block content %}
    <p></p>
  <center>
<h2>Мое расписание</h2>
<form action="" method="post">
           {{ form.hidden_tag() }}

                <p>
                    {{ form.date.label }}<br>
                    {{ form.date(size=5) }}<br>
                    {% for error in form.date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
    <p>{{ form.submit() }}</p>
</center>
</form>

{% endblock %}
